.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  margin: 20px;
}

.array-bar {
  width: 10px;
  margin: 0 2px;
  background-color: turquoise;
  transition: height 0.2s ease;
}

button {
  font-size: 16px;
  color: white; /* Ensure the text is visible */
  background-color: #333; /* Add a background color for the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

button:hover {
  background-color: #555; /* Slightly darker background on hover */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
